alias ....='cd ../../..'
alias ls1='ls -1'
alias lsil='ls -il'
alias gcd1='git clone --depth=1'
alias chrome='open -a "Google Chrome"'
alias o='open'
alias oo='open .'
alias b='/Applications/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl'
alias bb='b .'
alias hgll="hg log | grep '^user\?'|cut -d':' -f2|sort|uniq -c|sort -nr"